.card {
    width: 15rem;
    min-width: 15rem;
    background-color: lightsteelblue;
    padding: 3px;
    border: 1px solid lightsteelblue;
    margin: .5rem;
    transition: all 1s;
    box-shadow: 3px 3px 4px lightgray;
    justify-content: center;
}



.card img{
    width: 100%;
}

.card:hover {
    transform:scale(1.1);
}